# basic html for stock analysis website 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/css_reset.css">
    <link rel="stylesheet" href="css/global.css">
 

</head>

<body>
    <header>
        <img id="logo" src="images/logo.png" alt=”Logo”>
        <nav>
            <label for="hamburger">&#9776;</label>
            <input type="checkbox" id="hamburger" />
            <ul id="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="metrics.html">Metrics</a></li>
                <li><a href="results.html">Result</a></li>
            </ul>
        </nav>
        <hr>
    </header>

    <section id="main">
       <p>This is the home page of our stock market analysis.</p>
    </section>
   
    <footer>
        <hr>
        &copy; Stock Analysis. All rights reserved.
    </footer>

</body>

</html>